doctype html
html(lang="en")
  head
    link(id="favicon" rel="icon" href="/favicon.ico" type="image/x-icon")
    title FCC AMP URL Shortener:  Not Found
  body
    h1 FCC AMP URL Shortener:  Not Found
    p The page was not found.
